<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %} Home {% endblock %}</title>
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
</head>

<body>
    <header id="header">
        <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'blog:index' %}">
                    <img src="{% static 'blog/icons/brandicon.png' %}" alt="logo" width="30" height="24"
                        class="d-inline-block align-text-top">
                    WORDS
                </a>

                <!-- <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> -->

                <div class="d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                    aria-controls="offcanvasRight">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="White"
                        class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
                    </svg>
                </div>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link link-body-emphasis" aria-current="page"
                                href="{% url 'blog:about' %}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-body-emphasis" href="{% url 'blog:contact' %}">Contact</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link link-body-emphasis" href="{% url 'blog:logout' %}">Log out</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-body-emphasis"
                                href="{% url 'blog:profile' user.username %}">Profile</a>
                        </li>

                        {% if user.username == 'admin' %}
                        <li class="nav-item">
                            <a class="nav-link link-body-emphasis" href="{% url 'blog:upload' %}">Create</a>
                        </li>
                        {% endif %}
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link link-body-emphasis" href="{% url 'blog:signup' %}">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-body-emphasis" href="{% url 'blog:signin' %}">Log in</a>
                        </li>
                        {% endif %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Category
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Politics</a></li>
                                <li><a class="dropdown-item" href="#">Entertainment</a></li>
                                <li><a class="dropdown-item" href="#">Books</a></li>
                                <!-- <li><a class="dropdown-item" href="#">Education</a></li> -->
                                <li><a class="dropdown-item" href="#">Movies</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">World News</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form action="{% url 'blog:search' %}" method="GET" class="d-flex" role="search">
                        {% csrf_token %}
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                            name="search">
                        <button class="btn btn-outline-success" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                            </svg>
                        </button>
                    </form>
                </div>
            </div>
        </nav>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasRightLabel">
                    <form action="{% url 'blog:search' %}" method="GET" class="d-flex" role="search">
                        {% csrf_token %}
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                            name="search">
                        <button class="btn btn-outline-success" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                            </svg>
                        </button>
                    </form>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link link-body-emphasis" aria-current="page"
                            href="{% url 'blog:about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-body-emphasis" href="{% url 'blog:contact' %}">Contact</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link link-body-emphasis" href="{% url 'blog:logout' %}">Log out</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-body-emphasis" href="{% url 'blog:profile' user.username %}">Profile</a>
                    </li>

                    {% if user.username == 'admin' %}
                    <li class="nav-item">
                        <a class="nav-link link-body-emphasis" href="{% url 'blog:upload' %}">Create</a>
                    </li>
                    {% endif %}
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link link-body-emphasis" href="{% url 'blog:signup' %}">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-body-emphasis" href="{% url 'blog:signin' %}">Log in</a>
                    </li>
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Category
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Politics</a></li>
                            <li><a class="dropdown-item" href="#">Entertainment</a></li>
                            <li><a class="dropdown-item" href="#">Books</a></li>
                            <!-- <li><a class="dropdown-item" href="#">Education</a></li> -->
                            <li><a class="dropdown-item" href="#">Movies</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">World News</a></li>
                        </ul>
                    </li>

                    <!-- <li class="nav-item">
                                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                            </li> -->
                </ul>

            </div>
        </div>
    </header>
    <div class="container-fluid">
        {% block content %} {% endblock %}
    </div>

    <footer class="py-5 text-center text-body-secondary bg-body-tertiary">
        {% block totop %}
        <h1 class="fs-5"><a class="text-decoration-none" href="#header">Back to top</a></h1>
        {% endblock%}
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="{% url 'blog:index' %}" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="{% url 'blog:category' %}" class="nav-link px-2 text-muted">Category</a>
            </li>
            <li class="nav-item"><a href="{% url 'blog:contact' %}" class="nav-link px-2 text-muted">Contact</a>
            </li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="{% url 'blog:about' %}" class="nav-link px-2 text-muted">About</a></li>
        </ul>
        <p class="text-center text-muted">&copy; 2025 Company, Inc</p>

    </footer>

    {% block jscript %}

    {% endblock %}
</body>

</html>